div.calculator input#display {
	margin-bottom:10px;
	text-align:right;
	font-size:19px;
}

div.calculator button {
	border:1px solid #a0a0a0;
	border-radius:4px;
	padding:0;
	display:inline-block;
	font-size:20px;
	width:40px;
	height:40px;
	margin:5px 0 5px 10px;
	text-align:center;
	padding-top:2px;
}
