* {
	margin:0;
	padding:0;
}

html {
	height:100%;
}

body {
	height:100%;
	background-color:#a0a0a0;
	background-image:url(/images/wallpaper.jpg);
	background-size:cover;
	background-position:center;
	padding:50px 25px 0 25px;
}

div.content {
	display:block;
	width:100%;
	max-width:500px;
	margin:0 auto;
	background-color:#e0e0e0;
	border:1px solid #404040;
	border-radius:4px;
	padding:25px;
}

h1 {
	margin:0 0 20px 0;
}

h1:after {
	background-image:url(/images/orb.png);
	background-size:50px 50px;
	display:block;
	float:right;
	width:50px;
	height:50px;
	content:"";
}

p.warning {
	color:#ff0000;
}

div.btn-group {
	margin-top:15px;
}

div.btn-group button {
	padding:5px 25px;
}
