div.picture {
	height:calc(100% - 20px);
	background-repeat:no-repeat;
	background-size:contain;
	background-position:center;
}

div.picture button {
	position:absolute;
	top:50%;
	width:50px;
	height:50px;
	padding:0;
	border-color:#adadad;
	border-radius:25px;
	transform:translate(0, -25px);
	opacity:0.25;
}

div.picture button:hover {
	opacity:0.75;
}

div.picture button.left {
	left:10px;
}

div.picture button.right {
	right:10px;
}

div.picture div.name {
	background-color:#e0e0e0;
	text-align:center;
	color:#606060;
	height:20px;
	position:absolute;
	bottom:0px;
	left:0;
	right:0;
}
