div.paint {
	height:100%;
}

div.paint_new div.btn-group {
	margin-top:15px;
}

/* Options 
 */
div.paint div.options {
	position:absolute;
	top:5px;
	left:40px;
	right:10px;
	height:35px;
	overflow:hidden;
}

div.paint div.options > div {
	height:30px;
	display:none;
	float:left;
	margin-right:10px;
	margin-left:5px;
}

/* Option draw width
*/
div.paint div.options div.drawwidth {
	width:150px;
	padding-top:10px;
}

div.paint div.options div.drawwidth > div {
    margin:0 10px 10px 10px;
}

div.paint div.options div.drawwidth div div {
    width:25px;
    height:20px;
    text-align:center;
}

/* Option erase width
 */
div.paint div.options div.erasewidth {
	width:150px;
	padding-top:10px;
}

div.paint div.options div.erasewidth > div {
    margin:0 10px 10px 10px;
}

div.paint div.options div.erasewidth div div {
    width:25px;
    height:20px;
    text-align:center;
}

/* Option color
 */
div.paint div.options div.drawcolor {
	padding-top:5px;
}

div.paint div.options div.drawcolor span {
	width:20px;
	height:20px;
	border:1px solid #404040;
	display:inline-block;
	margin-right:4px;
}

/* Tools
 */
div.paint div.tools {
	position:absolute;
	top:45px;
	left:4px;
	bottom:10px;
	width:25px;
	height:100%;
}

div.paint div.tools button {
	display:block;
	width:28px;
	height:28px;
	margin:2px 2px 4px 2px;
	border:1px solid #000000;
	border-radius:4px;
}

div.paint div.tools button img {
	position:relative;
	bottom:1px;
}

/* Workspace
 */
div.paint div.workspace {
	position:absolute;
	top:45px;
	left:40px;
	border:1px solid #808080;
	overflow:auto;
	height:calc(100% - 56px);
	width:calc(100% - 51px);
	background-color:#f0f0ff;
}

div.paint div.workspace canvas.picture {
	position:absolute;
	top:0;
	left:0;
}

div.paint div.workspace canvas.scratch {
	position:absolute;
	top:0;
	left:0;
}

div.paint div.workspace div.background {
	position:absolute;
	top:0;
	left:0;
	border:1px solid #a0a0a0;
	background-image:url(/apps/paint/background.png);
}
