div.diskview {
	height:100%;
	overflow-y:scroll;
}

div.diskview div.capacity {
	text-align:right;
	margin-right:10px;
	margin-top:15px;
}

div.diskview div.directory {
	display:none;
	margin-left:22px;
}

div.diskview > div.directory {
	margin-left:0;
	position:relative;
	box-sizing:border-box;
}

div.diskview div.directory div.perc {
	height:20px;
	background-color:rgba(255, 255, 64, 0.5);
	box-sizing:border-box;
}

div.diskview div.directory div.perc-container {
	margin-left:40px;
}

div.diskview div.directory div.line {
	height:20px;
	margin-top:-20px;
	overflow:hidden;
	clear:left;
}

div.diskview div.directory span {
	cursor:pointer;
	display:block;
	float:left;
	height:inherit;
}

div.diskview div.directory span.fa {
	margin-right:-20px;
	width:20px;
	text-align:center;
	color:#a0a0a0;
	padding-top:3px;
}

div.diskview div.directory span.name {
	margin-left:20px;
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap;
	width:calc(100% - 200px);
	padding-left:25px;
	background-image:url(/images/directory.png);
	background-position:2px;
	background-size:14px;
	background-repeat:no-repeat;
}

div.diskview div.directory span.perc {
	width:110px;
	text-align:right;
	padding-right:20px;
}

div.diskview div.directory span.size {
	width:60px;
	text-align:right;
}
